.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 5px;
  margin: 10px auto;
  padding: 15px;
}

img {
  width: 100px;
  border-radius: 5px;
}

.name {
  margin-right: 10px;
}

input {
  border: none;
  text-align: center;
  width: 30px;
  font-size: 15px;
}

button {
  border: none;
  background: red;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}
