.card {
  width: 70px;
  height: 70px;
  border: none;
  color: white;
  background-color: rgba(226, 152, 15, 0.753);
  margin: auto;
  text-align: center;
  border-radius: 15px;
}

.cardcode {
  width: 50px;
  height: 30px;
  text-align: center;
  border: none;
  color: white;
  background-color: rgba(255, 0, 0, 0.753);
  margin: auto;
  text-align: center;
  border-radius: 15px;
}

.carddocument {
  p {
    color: gray;
  }
}

.button {
  width: 25px;
  height: 25px;
  border: none;
  color: rgb(255, 196, 0);
  margin: auto;
  content: icon;
  border-radius: 5px;
  cursor: pointer;
}

td {
  text-align: center;
}
